# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# IDE and editor folders
.idea/
.vscode/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite3

# Cache and test reports
*.cache
.pytest_cache/
.coverage
htmlcov/
.tox/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

/node_modules/
/dist/
/*.local